$page-size: letter;
$font-size: 12pt;
$font-stack: "Courier Prime", "Courier", "Courier Final Draft", "Courier New";
$line-height: 1;
$text-body-width: 6in;

$title-upcase: true;
$title-underline: true;
$title-bold: false;
$title-contact-right: false;

$scene-double-space: true;
$scene-bold: false;
$scene-underline: false;

$action-orphans: 2;
$action-widows: 2;

$dialog-contd: "(CONT'D)";
$dialog-more: "(MORE)";
$dialog-orphans: 2;
$dialog-widows: 2;

$show-notes: true;
$note-font-size: 11pt;
$note-font: "Comic Sans MS", "Helvetica", "Marker Felt";
$note-line-height: 1.5;
$note-color: lightgoldenrodyellow;
$highlight-change-color: yellow;
