@import "config";

$page-size: letter !default;
$font-size: 12pt !default;
$font-stack: "Courier Prime", "Courier", "Courier Final Draft", "Courier New" !default;
$line-height: 1 !default;
$text-body-width: 6in !default;

$title-upcase: true !default;
$title-underline: true !default;
$title-bold: false !default;
$title-contact-right: false !default;

$scene-double-space: false !default;
$scene-bold: false !default;
$scene-underline: false !default;

$action-orphans: 2 !default;
$action-widows: 2 !default;

$dialog-contd: "(CONT'D)" !default;
$dialog-more: "(MORE)" !default;
$dialog-orphans: 2 !default;
$dialog-widows: 2 !default;

$highlight-change-color: yellow !default;

@page screenplay, screenplay-title {
  size: $page-size;
  margin-top: 1in;
  margin-right: 1in;
  margin-bottom: 0.75in;
  margin-left: 1.5in;
}

@page screenplay {
  @top-right-corner {
    font-family: $font-stack;
    font-size: $font-size;
    content: counter(page)".";
    vertical-align: bottom;
    padding-bottom: 1em;
  }
}

@page screenplay:first {
  @top-right-corner {
    content: normal;
  }
}

.screenplay {
  page: screenplay;
  counter-reset: page;
  font-family: $font-stack;
  font-size: $font-size;
  line-height: $line-height;
  width: $text-body-width;
  margin: 1em auto;
  -webkit-text-size-adjust: none;

  .title-page {
    page: screenplay-title;
    page-break-after: always;
    width: $text-body-width;
    margin-top: 0in;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    .title {
      @media print {
        margin-top: 3.5in;
        margin-bottom: 4in;
      }
      text-align: center;
      h1 {
        @if $title-upcase { text-transform: uppercase; }
        @if $title-underline { text-decoration: underline; }
        @if $title-bold { font-weight: bold; }
      }
    }
    .contact {
      @if $title-contact-right { text-align: right; }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
  }

  hr {
    @media print {
      visibility: hidden;
    }
    page-break-after: always;
  }

  mark {
    background-color: $highlight-change-color;
    &:before {
      content: '*';
      width: 0.5in;
      position: absolute;
      right: 0in;
    }
  }

  del {
    &:before {
      content: '*';
      width: 0.5in;
      position: absolute;
      right: 0in;
    }
  }

  .scene {
    @if $scene-double-space { margin-top: 2em; }
    @else { margin-top: 1em; }
    width: auto;
  }
  
  .scene-heading {
    @if $scene-bold { font-weight: bold; }
    @if $scene-underline { text-decoration: underline; }
    margin-bottom: 1em;
    page-break-after: avoid;
  }

  .action {
    margin: 1em 0in;
    white-space: pre-wrap;
    orphans: $action-orphans;
    widows: $action-widows;
  }

  .dialog {
    display: table;
    width: 4in;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5in;
    .character {
      margin-top: 0em;
      margin-bottom: 0em;
      margin-left: 1in;
    }
    .lines {
      width: 3.5in;
      margin-top: 0em;
      margin-bottom: 0em;
      orphans: $dialog-orphans;
      widows: $dialog-widows;
    }
    .paren {
      width: 2in;
      margin-top: 0em;
      margin-bottom: 0em;
      margin-left: 0.6in;
      text-indent: -0.6em;
      page-break-inside: avoid;
      page-break-after: avoid;
    }

    &.dual {
      width: 3in;
      .lines {
        width: 2.9in;
      }
      &.left {
        margin-top: 0em;
        margin-left: 0in;
        float: left;
      }
      &.right {
        clear: none;
      }
    }
  }

  .trans {
    margin-left: 4in;
    width: 2in;
    page-break-before: avoid;
  }

  .center {
    text-align: center;
    margin-left: 0in;
    width: 100%;
    white-space: pre-wrap;
  }

  .underline {
    text-decoration: underline;
  }

  .note { display: none; }
  .section-heading { display: none; }
  .synopsis { display: none; }
}
